@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans/JosefinSans-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans/JosefinSans-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'MaterialSymbols';
    src: url('../font/MaterialSymbols/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

html {
    font-size: 16px;
    font-family: 'JosefinSans';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #151515;
    color: #ffffff;
}
a {
    color: #ffffff;
    text-decoration: none;
}

.material-symbols {
    font-family: 'MaterialSymbols';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.rarity-5 {
    background-image: linear-gradient(#ffd700, #ffd70080);
}
.rarity-4 {
    background-image: linear-gradient(#a335ee, #a335ee80);
}
.rarity-3 {
    background-image: linear-gradient(#0070dd, #0070dd80);
}
.rarity-2 {
    background-image: linear-gradient(#1eff00, #1eff0080);
}
.rarity-1 {
    background-image: linear-gradient(#ffffff, #ffffff80);
}

.navigation {
    padding: 1rem;
    width: 50px;
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ffffff;
}
.navigation:hover {
    width: 300px;
    transition: 0.1s linear width;
}
.navigation .nav {
    padding: 1rem;
    width: 100%;
}
.navigation .nav.active {
    background-color: dodgerblue;
}
.navigation:hover .nav.collapsible.active {
    background-color: unset;
}
.navigation .nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.navigation .nav .nav-wrapper > div {
    display: flex;
    align-items: center;
}
.navigation .nav .nav-wrapper .nav-image {
    font-size: 50px;
}
.navigation .nav .nav-wrapper img {
    width: 50px;
    height: 50px;
}
.navigation .nav .nav-wrapper label, .navigation .nav .nav-wrapper span, .navigation .nav .subnav {
    display: none;
}
.navigation .nav .nav-wrapper label {
    font-size: 1.5em;
}
.navigation:hover .nav .nav-wrapper label {
    margin-left: 0.5rem;
    padding: 0.5rem 0;
    text-wrap: nowrap;
    cursor: pointer;
}
.navigation:hover .nav .nav-wrapper label, .navigation:hover .nav .nav-wrapper span {
    display: block;
}
.navigation .nav .subnav {
    margin-top: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}
.navigation:hover .nav .subnav.collapsed {
    display: flex;
}
.navigation .nav .subnav a {
    padding: 0.5rem 1rem;
}
.navigation .nav .subnav a.active, .navigation .nav .subnav a:hover {
    background-color: dodgerblue;
}

.content {
    padding: 1rem;
}
.content .title {
    text-align: center;
}

.character-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 1rem;
}
.character-wrapper {
    position: relative;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.character-wrapper .character-image {
    width: 200px;
    height: 200px;
    opacity: 0.9;
}
.character-wrapper:hover .character-image {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.1s linear transform;
}
.character-wrapper .character-element {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
}
.character-wrapper .character-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    opacity: 0.9;
    z-index: 1;
}
.character-wrapper:hover .character-name {
    opacity: 1;
}

.material-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 1rem;
}
.material-wrapper {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
.material-wrapper .image-wrapper {
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}
.material-wrapper .material-text {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}
.material-wrapper .material-image {
    width: 100px;
    height: 100px;
    opacity: 0.9;
}
.material-wrapper:hover .material-image {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.1s linear transform;
}
.material-wrapper .material-input {
    margin-top: 0.5rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "input input"
        "span span";
    gap: 0.25rem;
}
.material-wrapper .material-input input {
    grid-area: input;
    padding: 0;
    height: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    font-family: 'JosefinSans';
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    appearance: textfield;
}
.material-wrapper .material-input input::-webkit-inner-spin-button,
.material-wrapper .material-input input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
.material-wrapper .material-input span {
    grid-area: span;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    font-size: 1.5em;
    opacity: 0.9;
}
.material-wrapper .material-input span:hover {
    opacity: 1;
}