@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans/JosefinSans-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans/JosefinSans-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'MaterialSymbols';
    src: url('../font/MaterialSymbols/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

html {
    font-size: 16px;
    font-family: 'JosefinSans';
}

body {
    margin: 0;
    background-color: #151515;
    color: #ffffff;
}

.material-symbols {
    font-family: 'MaterialSymbols';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.navigation {
    padding: 1rem;
    width: 15vw;
    height: calc(100vh - 2rem);
}

.navigation .nav:not(:first-child) {
    margin-top: 1rem;
}

.navigation .nav .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navigation .nav label {
    font-size: 1.5em;
}

.navigation .nav .subnav {
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}