@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans/JosefinSans-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans/JosefinSans-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'MaterialSymbols';
    src: url('../font/MaterialSymbols/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

html {
    font-size: 16px;
    font-family: 'JosefinSans';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background-color: #151515;
    color: #ffffff;
}

.material-symbols {
    font-family: 'MaterialSymbols';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.navigation {
    padding: 1rem;
    width: 50px;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ffffff;
}

.navigation:hover {
    width: 300px;
    transition: 0.1s linear width;
}

.navigation .nav {
    padding: 1rem;
    width: 100%;
}

.navigation .nav.active {
    background-color: dodgerblue;
}

.navigation:hover .nav.active {
    background-color: unset;
}

.navigation .nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navigation .nav .nav-wrapper > div {
    display: flex;
    align-items: center;
}

.navigation .nav .nav-wrapper img {
    width: 50px;
    height: 50px;
}

.navigation .nav .nav-wrapper label, .navigation .nav .nav-wrapper span, .navigation .nav .subnav {
    display: none;
}

.navigation .nav .nav-wrapper label {
    font-size: 1.5em;
}

.navigation:hover .nav .nav-wrapper label {
    margin-left: 0.5rem;
    padding: 0.5rem 0;
    text-wrap: nowrap;
    cursor: pointer;
}

.navigation:hover .nav .nav-wrapper label, .navigation:hover .nav .nav-wrapper span {
    display: block;
}

.navigation .nav .subnav {
    margin-top: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.navigation:hover .nav .subnav.collapsed {
    display: flex;
}

.navigation .nav .subnav div {
    padding: 0.5rem 1rem;
}

.navigation .nav .subnav div:hover {
    background-color: dodgerblue;
}